@media only screen and (max-width: 665px){
    nav .icon {
        display: block;
    }
    nav .list.active{
        display: flex;
    }
    nav .list {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 51px;
        left: 20px;
        padding: 20px 0;
        width: 60%;
        border-radius: 5px;
        background: rgb(30, 41, 59, 0.92);
        backdrop-filter: blur(14px);
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
    nav .list li{
        display: block;
    }
    #home article {
        font-size: 1.5rem;
    }
    #home article span {
        font-size: 1.8rem;
    }
    #home button {
        font-size: 0.8rem;
    }

    #about article {
        padding: 0 20px;
    }
    #about article .details {
        display: block;
    }
}