@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scrollbar-color: #7c54f4 #0F172A;
}
/* Body */
body {
    background: linear-gradient(135deg, #0F172A, #1E293B);
    font-family: "Vend Sans", sans-serif;
    color: #E5E7EB;
}
/* Nav bar */
header {
    position: sticky;
    top: 2px;
    left: 0;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
nav .logo {
     color: #38BDF8;
    font-size: 2.2rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
 
}
.list {
    display: flex;
    list-style: none;
    gap: 20px;
}
.list a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 1.28rem;
}
nav .icon{
    display: none;
    cursor: pointer;
}
nav .icon>div {
    background-color: black;
    margin: 5px;
    height: 5px;
    width: 30px;
}
.list a:hover {
    color: #38BDF8;
}


/* Home section */
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 60px 30px;
    gap: 20px;
}
#home article {
    font-size: 3rem;
}
#home span {
    font-size: 3.2rem;
    font-family:  "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #A78BFA;
}
#home .image {
    cursor: zoom-in;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    height: min-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 70px rgba(225, 225, 70, 0.4);
}
#home .image img {
    width: 300px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
#home .image img:hover {
    transform: scale(1.2);
}

button {
    font-size: 17pt;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #38BDF8, #6366F1);
    color: white;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #6366F1, #38BDF8);
    color: white;
}
hr {
    width: 80%;
    margin: auto;
    border: none;
    background-color: gray;
    height: 1.5px;
}

/* About */
#about
{
    padding-top: 60px;
}
h2 {
    text-align: center;
    font-size: 2.3rem;
    color: #38BDF8;
}
h3 {
    font-size: 1.6rem;
}
#about .content {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 20px 0;
}
#about img {
    width: 300px;
}
#about article {
    width: 575px;
    font-size: 1.12rem;
    padding-top: 55px;
    color: #D1D5DB;
}
#about article img {
    width: 30px;
    border-radius: 50%;
    filter: brightness(0) invert(1);
}
#about .details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
     color: #E5E7EB;
}
#about .social {
    display: flex;
    gap: 55px;
}

/* Skill Section */
#skill {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
#skill .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0;
}
#skill .skills>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    overflow: hidden;
    height: 200px;
    width: 150px;
    font-size: 1.18REM;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
}
.skills img {
    width: 120px;
}

/* Project Section */
#project {
    padding-top: 60px;
}
#project .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #A78BFA;
    font-size: 2rem;
    font-weight: 700;
}
#project .main:hover {
    border: 2px solid rgba(234, 113, 113);
}

/* Footer Sections */
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.15rem;
    background: #020617;
    color: #9CA3AF;
}
.click {
    transform: scale(0.8);
}